body {
  background-color: #fff;
  font-family: "roboto";
  padding: 0;
  margin: 0;
}

button {
  color: #2db457 !important;
  border: 1px dashed #2db457 !important;
}

a {
  color: #2db457 !important;
}

.Link {
  color: black;
}

/* Increase the specificity */
.Link:hover {
  color: white;
}
